@{
    ViewBag.Title = "Adopt";
}

<div class="section center-align">
    <div class="donate-background">
        <img src="~/Content/img/donatefooter.jpg" alt="Descriptive Alt Text" class="responsive-img">
        <div class="content-wrapper">
            <h2 style="font-weight: 700">Take us Home!</h2>
            <h2 style="font-weight: 700">Adopt a pet today and make a lifelong friend—your compassion saves lives!</h2>
        </div>
    </div>
</div>

<div class="container">

    <div class="section">
        <h3 style="font-weight: 700; color: #f75f00" class="center-align"></h3>
    </div>

    <div class="pet-grid">
        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Bantay</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Bathala</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Bayani</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Bituin</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Dakila</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Dalisay</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Datu</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Hiraya</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Isla</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Hiraya</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Isla</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Iska</span>
            </div>
        </a>
        <!-- Repeat for more pets -->

        <div class="section">
            <h3 style="font-weight: 700; color: #f75f00" class="center-align"></h3>
        </div>

    </div>
</div>