@model IEnumerable<PAWSProject.Models.tblpetModel>
@{
    ViewBag.Title = "Adopt";
}

<div class="section center-align">
    <div class="donate-background">
        <img src="~/Content/img/donate-picture.jpg" alt="Descriptive Alt Text" class="responsive-img">
        <div class="content-wrapper">
            <h2 style="font-weight: 700">Take us Home!</h2>
            <p style="font-size: 18px;">Adopt a pet today and make a lifelong friend—your compassion saves lives!</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="section">
        <h3 style="font-weight: 700; color: #f75f00" class="center-align"></h3>
    </div>

    <div class="pet-grid">
        @foreach (var pet in Model)
        {
            <a href="@Url.Action("Pet", "Home", new { id = pet.petID })" class="pet-item">
                <img src="@pet.imagePath" alt="@pet.name" />
                <div class="pet-overlay">
                    <span>Meet @pet.name</span>
                </div>
            </a>
        }
    </div>
</div>
<br /><br />
