@{
    ViewBag.Title = "Advocacy";
}

<div class="section center-align">
    <div class="donate-background">
        <img src="~/Content/img/donatefooter.jpg" alt="Descriptive Alt Text" class="responsive-img">
        <div class="content-wrapper">
            <h2 style="font-weight: 700">The Voice of the Voiceless</h2>
            <h2 style="font-weight: 700">Use your voice to protect the voiceless—advocate for animals in need!</h2>
        </div>
    </div>
</div>


<div class="advocacy-container">
    <header class="advocacy-header">
        <h1>Advocacy Center</h1>
        <p>
            The PAWS works with local, state, and federal legislators to help enact meaningful protections for animals.
            We also offer <a href="#">advocacy training</a> and support for citizens who wish to engage in grassroots lobbying.
            Stay informed and <a href="#">get involved</a>—politics is not a spectator sport!
        </p>
        <p>See a list of current, actionable alerts below, and then use your voice to improve laws for animals.</p>
    </header>

    <div class="donation-steps">
        <span class="donation-step active">Latest News</span>
    </div>

    <div class="content-section">
        <a href="AdvocacyNews1" class="news-item" style="text-decoration: none; color: inherit;">
            <div class="news-image">
                <img src="~/Content/img/adopt/cat-and-vet.png" alt="Cat and Vet" />
            </div>
            <div class="news-content">
                <p class="news-date">November 8, 2024</p>
                <h2>Victory for People, Pets, and Vets – Colorado Passes Prop 129!</h2>
            </div>
        </a>
    </div>

</div>

