@{
    ViewBag.Title = "Advocacy";
}

<div class="news-container">
    <header class="news-header">
        <p class="subheading">NEWS!</p>
        <h1 class="headline">Victory for People, Pets and Vets – Colorado Passes Prop 129!</h1>
        <p class="publication-date">November 8, 2024</p>
    </header>

    <div class="news-image">
        <img src="~/Content/img/adopt/cat-and-vet.png" alt="Cat and Vet" />
    </div>

    <article class="news-content">
        <p>
            We did it! In a significant show of support, over 1 million Colorado voters came together on Election Day to approve
            Proposition 129, a landmark measure that will expand access to veterinary care for pet owners across the state.
            Backed by local humane societies, veterinary professionals, animal welfare organizations, and pet owners, this ballot
            measure helps address the veterinary shortage by expanding the workforce with highly trained professionals in
            Colorado clinics and shelters.
        </p>
        <p>
            Proposition 129 establishes a career pathway for a Veterinary Professional Associate, or Veterinary PA, akin to a
            physician assistant in human medicine. These professionals will hold a master’s degree and work under the supervision
            of a licensed veterinarian. Now that Proposition 129 has passed, we look forward to working with other stakeholders to
            provide input to the Colorado State Board of Veterinary Medicine as it implements regulations governing this new
            position.
        </p>
        <p>
            <strong>Colorado State University’s College of Veterinary Medicine & Biomedical Sciences</strong> has developed a
            <a href="#">robust and comprehensive master’s program for Veterinary PAs</a>. This program, created by national
            experts, is expected to launch in 2025. Graduates will be equipped to work in animal shelters and veterinary clinics
            across the state.
        </p>
        <p>
            Colorado voters have given animals a chance to live longer, healthier lives. It’s time to celebrate this win and every
            action animal advocates took to help get out the vote.
        </p>
    </article>

</div>
