@{
    ViewBag.Title = "Contact";
}
<div class="section center-align">
    <div class="page-hero">
        <img src="~/Content/img/contact_cat.jpg" alt="Descriptive Alt Text" class="responsive-img">
        <div class="content-wrapper">
            <h2 style="font-weight: 700">Contact</h2>
        </div>
    </div>
</div>