@{
    ViewBag.Title = "Donate";
}

<div class="section center-align">
    <div class="donate-background">
        <img src="~/Content/img/adopt/donate.jpg" alt="Descriptive Alt Text" class="responsive-img">
        <div class="content-wrapper">
            <h2 style="font-weight: 700">Donate to Help Animals</h2>
            <p style="font-size: 18px;">Help us save and care for animals in need—every donation makes a difference!</p>
        </div>
    </div>
</div>

<div class="donation-form-container">
    <div class="donation-tabs">
    </div>
    <div class="donation-steps">
        <span class="donation-step active">1. Scan the QR Code</span>
    </div>
    <div class="donation-qrcode center-align">
        <img src="~/Content/img/adopt/donate-gcash.png" />
        <img src="~/Content/img/adopt/donate-maya.png" />
    </div>
    <!-- Buttons container with spacing -->
    <div class="donation-navigation">
        <a href="Index" class="donation-submit back-button">BACK</a>
    </div>
</div>









