@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div id="carousel" class="carousel carousel-slider">
    <div class="carousel-item" href="#">
        <img src="~/Content/img/caro1.gif" class="responsive-img" />
        <div class="carousel-fixed-item hero-section">
            <div class="hero-content">
                <h1>Don't Let Animals Like Gringgo Go Hungry</h1>
                <p>Donate some to your local impound to help animals.</p>
                <a href="Donate" class="donate-btn">DONATE</a>
            </div>
        </div>
    </div>
    <div class="carousel-item" href="#">
        <img src="~/Content/img/caro2.jpg" class="responsive-img" />
        <div class="carousel-fixed-item hero-section">
            <div class="hero-content">
                <h1>No Stray Animal Should Be Left Alone and Hungry</h1>
                <p>With your spare change, you could make a change.</p>
                <a href="Donate" class="donate-btn">DONATE</a>
            </div>
        </div>
    </div>
</div>

<br />
<div class="container">

    <div class="section">
        <h3 style="font-weight: 700; color: #f75f00" class="center-align">About Us</h3>
        <p style="text-align:justify;">

            At Pet Adoption Welfare System (PAWS), our mission is simple yet profound: to create a world where every animal has a loving home and every pet owner feels supported. We are a dedicated team of animal lovers, advocates, and community members working tirelessly to rescue, rehabilitate, and rehome stray and abandoned animals.

            Founded on the belief that every pet deserves a second chance, we partner with local shelters, and passionate volunteers to provide comprehensive care for animals in need. Beyond adoption, we offer valuable resources, education, and services to help pet owners in our community thrive.

            <br /> <br />Whether you’re looking to adopt a furry friend, contribute to our cause, or simply learn more about responsible pet care, we are here to guide you every step of the way. Together, we can build a community where compassion for animals knows no bounds.

            Welcome to Pet Adoption Welfare System (PAWS)—your partner in creating a better life for animals and the people who love them.
        </p>
    </div>

</div>
<br />
<br />

<div class="section center-align">
    <div class="hero-background">
        <img src="~/Content/img/home_cat.jpeg" alt="Descriptive Alt Text" class="responsive-img">
        <div class="content-wrapper">
            <h2 style="font-weight: 700">You Can Make a Difference</h2>
            <div class="cards-container">
                <!-- Donate Card -->
                <div class="card donate">
                    <a href="Donate">
                    <div class="card-icon">
                        <span class="material-symbols-outlined" style="font-size: 43px">
                            volunteer_activism
                        </span>
                    </div>
                    <h3 style="font-weight: 600">Donate</h3>
                    <p>Every peso counts for a difference for an animal in need. Join our cause by giving donation today.</p>
                        </a>
                </div>
                <!-- Adopt Card -->
                <div class="card donate">
                    <a href="Adopt">
                        <div class="card-icon">
                            <span class="material-symbols-outlined" style="font-size: 43px">
                                pets
                            </span>
                        </div>
                        <h3 style="font-weight: 600">Adopt</h3>
                        <p>Make your way to adopt one of the stray animals our shelter got, adopt one today!</p>
                        </a>
                </div>
                <!-- Advocate Card -->
                <div class="card donate">
                    <a href="Advocate">
                        <div class="card-icon">
                            <span class="material-symbols-outlined" style="font-size: 43px">
                                campaign
                            </span>
                        </div>
                        <h3 style="font-weight: 600">Advocate</h3>
                        <p>Speak up for animals and learn how to be a strong, effective advocate.</p>
                        </a>
                </div>

            </div>
        </div>
    </div>
</div>

<br />
<div class="container">

    <div class="section">
        <h3 style="font-weight: 700; color: #f75f00" class="center-align">Take Us Home!</h3>
    </div>

    <div class="pet-grid">
        <a href="PetProfile1" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Bantay</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Bathala</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Bayani</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Bituin</span>
            </div>
        </a>

        <a href="Adopt" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>View More...</span>
            </div>
        </a>
        <!-- Repeat for more pets -->
    </div>
    <div class="section">
        <h3 style="font-weight: 700; color: #f75f00" class="center-align"></h3>
    </div>


</div>
<br />

<div class="section center-align">
    <div class="donate-background">
        <img src="~/Content/img/donatefooter.jpg" alt="Descriptive Alt Text" class="responsive-img">
        <div class="content-wrapper">
            <h2 style="font-weight: 700">Help make a difference, by helping us to support stray animals</h2>
            <a href="Donate" class="donate-btn">DONATE</a>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.carousel');
        var instances = M.Carousel.init(elems, {
            fullWidth: true,
            indicators: true
        });


        setInterval(function () {
            instances.forEach(instance => instance.next());
        }, 7000);
    });
</script>

