@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div id="carousel" class="carousel carousel-slider">
    <div class="carousel-item" href="#">
        <img src="~/Content/img/caro1.gif" class="responsive-img" />
        <div class="carousel-fixed-item hero-section">
            <div class="hero-content">
                <h1>Don't Let Animals Like Gringgo Go Hungry</h1>
                <p>Donate some to your local impound to help animals.</p>
                <a href="Donate" class="donate-btn">DONATE</a>
            </div>
        </div>
    </div>
    <div class="carousel-item" href="#">
        <img src="~/Content/img/caro2.jpg" class="responsive-img" />
        <div class="carousel-fixed-item hero-section">
            <div class="hero-content">
                <h1>No Stray Animal Should Be Left Alone and Hungry</h1>
                <p>With your spare change, you could make a change.</p>
                <a href="Donate" class="donate-btn">DONATE</a>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="section">
        <h3 style="font-weight: 700; color: #f75f00" class="center-align">About Us</h3>
        <p style="text-align:justify;">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Nascetur montes nascetur habitasse mi risus. Condimentum malesuada venenatis fusce class vulputate mauris placerat. Metus primis metus nam; viverra penatibus scelerisque massa. Torquent nisi natoque conubia cursus lacus eget. Porta augue ipsum aptent sapien varius sem in. Tempor integer ex eros congue mattis consequat vehicula. In nam sodales lectus maecenas convallis nec ligula. Nam quam laoreet gravida integer nec fringilla.
            <br /> <br />Ad blandit vivamus dictumst euismod eu litora nam. Aenean primis velit rhoncus nisl vehicula integer donec malesuada conubia. Condimentum lobortis fusce nullam praesent turpis blandit vehicula tincidunt erat. Dictum consequat arcu taciti id consequat a a tristique? Dolor mus magna tristique dictum felis vulputate. Eleifend sit velit lectus sit non elementum aenean.
        </p>
    </div>

</div>

<div class="section center-align">
    <div class="hero-background">
        <img src="~/Content/img/home_cat.jpeg" alt="Descriptive Alt Text" class="responsive-img">
        <div class="content-wrapper">
            <h2 style="font-weight: 700">You Can Make a Difference</h2>
            <div class="cards-container">
                <!-- Donate Card -->
                <a href="Donate" class="card donate">
                    <div class="card-icon">
                        <span class="material-symbols-outlined" style="font-size: 43px">
                            volunteer_activism
                        </span>
                    </div>
                    <h3 style="font-weight: 600">Donate</h3>
                    <p>Every peso counts for a difference for an animal in need. Join our cause by giving a donation today.</p>
                </a>
                <!-- Advocate Card -->
                <div class="card advocate">
                    <div class="card-icon">
                        <span class="material-symbols-outlined" style="font-size: 43px">
                            pets
                        </span>
                    </div>
                    <h3 style="font-weight: 600">Adopt</h3>
                    <p>Make your way to adopt one of the stray animals our shelter got, adopt one today!</p>
                </div>
                <!-- Give Monthly Card -->
                <div class="card give-monthly">
                    <div class="card-icon">
                        <span class="material-symbols-outlined" style="font-size: 43px">
                            campaign
                        </span>
                    </div>
                    <h3 style="font-weight: 600">Advocate</h3>
                    <p>Speak up for animals and learn how to be a strong, effective advocate.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="section">
        <h3 style="font-weight: 700; color: #f75f00" class="center-align">Take Us Home</h3>
    </div>

    <div class="pet-grid">
        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Bantay</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Bathala</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Bayani</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Bituin</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Dakila</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Dalisay</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Datu</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Hiraya</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>Meet Isla</span>
            </div>
        </a>

        <a href="/pets/sampson" class="pet-item">
            <img src="~/Content/img/adopt/tatum.jpg" />
            <div class="pet-overlay">
                <span>View More...</span>
            </div>
        </a>
        <!-- Repeat for more pets -->
    </div>


</div>

<div class="section center-align">
    <div class="donate-background">
        <img src="~/Content/img/donatefooter.jpg" alt="Descriptive Alt Text" class="responsive-img">
        <div class="content-wrapper">
            <h2 style="font-weight: 700">Help make a difference, by helping us to support stray animals</h2>
            <a href="Donate" class="donate-btn">DONATE</a>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.carousel');
        var instances = M.Carousel.init(elems, {
            fullWidth: true,
            indicators: true
        });


        setInterval(function () {
            instances.forEach(instance => instance.next());
        }, 7000);
    });
</script>

