@{
    ViewBag.Title = "Local Services";
}

<div class="section center-align">
    <div class="donate-background">
        <img src="~/Content/img/donatefooter.jpg" alt="Descriptive Alt Text" class="responsive-img">
        <div class="content-wrapper">
            <h2 style="font-weight: 700">Pet Care Near You</h2>
            <h2 style="font-weight: 700">Connecting you to essential pet care and services in your community.</h2>
        </div>
    </div>
</div>

<div class="local-services-container">
    <h3 class="section-header">Local Rescue Groups</h3>

    <div class="rescue-group">
        <h4 class="rescue-name">Manila Animal Rescue Shelters </h4>
        <p class="rescue-description">A local rescue group dedicated to finding forever homes for abandoned pets. They provide adoption services, foster care, and veterinary support for rescued animals.</p>
        <p class="rescue-contact"><strong>Contact:</strong> 0995 962 5425 | <a href="https://www.facebook.com/people/Manila-Animal-Rescue-Shelters/100069741788610/">smonacatrin@gmail.com</a></p>
        <a href="https://www.facebook.com/people/Manila-Animal-Rescue-Shelters/100069741788610/" class="btn-link" target="_blank">Visit Website</a>
    </div>

    <div class="rescue-group">
        <h4 class="rescue-name">Philippine Animal Welfare Society</h4>
        <p class="rescue-description">Philippine Animal Welfare Society is committed to rescuing and rehabilitating stray and abused animals, providing them with medical care, and finding them loving homes.</p>
        <p class="rescue-contact"><strong>Contact:</strong> 425-412-4041 (Donor Support) or 425-412-4040 (Wildlife Hotline) | <a href="https://paws.org.ph/contact/">donations@paws.org</a></p>
        <a href="https://paws.org.ph/" class="btn-link" target="_blank">Visit Website</a>
    </div>

    <div class="rescue-group">
        <h4 class="rescue-name">Animal Rescue PH</h4>
        <p class="rescue-description">A nonprofit organization focused on rescuing dogs and cats in need. They offer adoption events, foster homes, and educational programs to promote responsible pet ownership.</p>
        <p class="rescue-contact"><strong>Contact:</strong> 0923 425 6793 | <a href="https://animalrescuephil.org/donate">help@AnimalRescuePH.com</a></p>
        <a href="https://animalrescuephil.org/" class="btn-link" target="_blank">Visit Website</a>
    </div>
</div>
