@{
    ViewBag.Title = "Pet Profile - Bantay";
}

<div class="section center-align">
    <div class="donate-background">
        <img src="~/Content/img/adopt/donate-picture.jpg" alt="Descriptive Alt Text" class="responsive-img">
        <div class="content-wrapper">
            <h2 style="font-weight: 700">Take us Home!</h2>
            <p style="font-size: 18px;">Adopt a pet today and make a lifelong friend—your compassion saves lives!</p>
        </div>
    </div>
</div>

<br />
<div class="pet-profile-container">
    <div class="pet-image">
        <img src="~/Content/img/adopt/tatum.jpg" alt="Cute Dog" />
    </div>
    <div class="pet-details">
        <h2 class="pet-name">Bantay</h2>
        <p class="pet-breed"><strong>Breed:</strong> Labrador Retriever</p>
        <p class="pet-age"><strong>Age:</strong> 2 years</p>
        <p class="pet-gender"><strong>Gender:</strong> Male</p>
        <p class="pet-size"><strong>Size:</strong> Medium</p>
        <p class="pet-description">
            Bantay is a sweet and playful Labrador Retriever who loves going on long walks and cuddling on the couch. She is great with kids and other pets, and she’s looking for a loving forever home. She’s vaccinated, spayed, and ready to meet her new family!
        </p>
        <a href="Adopt" class="adopt-button">Back</a>
        <a href="" class="adopt-button">Adopt Bantay</a>
    </div>
</div>
<br />

