@{ 
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="container pt-5">
    <div class="card">
        <div class="card-body">
          <form method="post" action="<?php echo htmlspecialchars($_SERVER["PHP_SELF"]); ?>">
            <?php
            if (!empty($alertType) && !empty($alertMessage)) {
            echo '<div class="alert alert-' . $alertType . ' alert-dismissible fade show" role="alert" style="font-size: 18px;">
                    ' . $alertMessage . '
                  </div>';
            }
            ?>
                <div class="form-group">
                    <label for="license_no">License Number</label>
                    <input type="number" class="form-control" id="license_no" name="licno" placeholder="Enter License Number" required>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="fn">First Name</label>
                        <input type="text" class="form-control" id="fn" name="fn" placeholder="Enter First Name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ln">Last Name</label>
                        <input type="text" class="form-control" id="ln" name="ln" placeholder="Enter Last Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="violation">Violation</label>
                    <select class="form-control" id="violation" name="violation" required>
                      <option value="">Select a violation</option>
                      <?php
                      foreach ($fines as $violation => $fine) {
                        echo "<option value='$violation'>$violation</option>";
                      }
                      ?>
                      </select>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="correct" required>
                  <label class="form-check-label" for="correct">The information above is correct and true.</label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>

  </section>
</body>
</html>
